<h1><%= title %></h1>
<form method="post" action="/challengers/<%= challenger._id %>">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Stage</th>
        <th>#</th>
        <th>Status</th>
        <th>Score</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% for ( var name in stages) { var stage = stages[name]; %>
      <tr class="<% if ( stage.current ) { %>info<% } else if ( stage.status == 'clear' ) { %>success<% } %>">
        <td><% if ( stage.current ) { %><p class="text-primary"><%= stage.name %></p><% } else { %><%= stage.name %><% } %></td>
        <td><% if ( !stage.current ) { %><button name="stage" value="<%= stage.name %>" <% if ( !stage.active ) { %>disabled="disabled"<% } %> class="btn btn-default">choice</button><% } else { %><% } %></td>
        <td>
          <% if (stage.status == 'clear') { %>
          <span class="label label-success">
          <% } else if (stage.status == 'failed') { %>
          <span class="label label-warning">
          <% } %>
          <%= stage.status %>
          </span>
        </td>
        <td><%= stage.score %></td>
        <td><%= stage.mandatory %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</form>
